.convert {
  padding: 80px 0 0;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    position: relative;
  }

  &__reverse-button {
    position: absolute;
    border: none;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    right: 410px;
    top: 20px;
    z-index: 3;
    cursor: pointer;

  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    margin: 0 auto 30px;
  }

  &__result {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__text-one {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }

  &__text-main {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }

}